[Unit]
Description=My service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/local/src/notice_ip/notice_ip.py /etc/notice_ip/notice_ip.toml

[Install]
WantedBy=multi-user.target