[Unit]
Description=My service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python notice_ip.py conf/notice_ip.toml
WorkingDirectory=/data/Raspberry-Pi/script/notice_ip

[Install]
WantedBy=multi-user.target